*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    width: 100vw;
}
.game{
    height: 100%;
    width: 100%;
    background-color: rgb(179, 179, 179);
    display: flex;
    justify-content: center;
    align-items: center;
}
.gameBox{
    height: clamp(10vw,60vw,60vh);
    width: clamp(10vw,60vw,60vh);
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    gap: 1vh;
}
button{
    height: 30%;
    width: 30%;
    background-color: rgb(122, 122, 122);
    box-shadow: 0 0 3px black;
    border-radius: 1rem;
    border: none;
    font-weight: bolder;
    transition: transform .4s ease-in-out;
    transition: background-color .4s ease-out;
    font-size: xx-large;
}
button.Oplayer{
    color: rgb(179, 103, 103);
    text-shadow: 0 0 4px rgb(240, 51, 51);
}
button.Xplayer{
    color: rgb(19, 133, 220);
    text-shadow: 0 0 6px rgb(51, 167, 240);
}
button:hover{
    background-color: rgba(22, 211, 41, 0.715);
    transform: scale(1.04);
}
button.disabledBtn{
    background-color: rgb(61, 54, 54);
}
button.disabledBtn:active{
    transform: rotate(2deg);
}
button.disabledBtn.Oplayer{
    box-shadow: inset 0px 0px 15px rgba(240, 51, 51, 0.612);
}
button.disabledBtn.Xplayer{
    box-shadow: inset 0px 0px 15px rgb(51, 167, 240,0.612);
}
.menu{
    height: 80vh;
    width: 100vh;
    border-radius: 8px;
    position: fixed;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999;
    gap: 8px;
    background-color: rgba(255, 255, 255, 0.303);
    backdrop-filter: blur(12px);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.313);
}
.menu button {
    height: clamp(3vh,6vh,6vh);
    width: clamp(6vh,12vh,12vh);
    background-color: rgba(0, 0, 0, 0.929);
    font-size: medium;
    color: white;
    border-radius: 1em;
    display: block;
}
.menu button:hover{
    background-color: rgba(78, 78, 78, 0.667);
    color: rgb(50, 50, 50);
}
.menu h1{
    margin-bottom: 1em;
    font-size: xx-large;
}
.menuIcon{
    position: fixed;
    right: 0%;
    transform: translateX(-100);
}
.menuIcon a{
    height: 1em;
    width: 1em;
    color: white;
}
.menuIcon a:hover{
    transform: rotateZ(90deg);
}